body {
    background-color: rgb(236, 242, 255);
    background-image:
      repeating-linear-gradient(
        0deg,
        transparent,
        transparent 7px,
        rgba(255, 255, 255, 0.5) 2px,
        transparent 10px
      ),
      repeating-linear-gradient(
        90deg,
        transparent,
        transparent 7px,
        rgba(255, 255, 255, 0.5) 2px,
        transparent 10px
      );
    background-size: 8px 8px;
  }
